body {
    background-color: #f5f5dc; 
    font-family: 'Kalam', cursive; 
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;
    color: #333333;
}

#animatedBg {
    display: none; 
}

.container {
    width: 90%;
    max-width: 550px; 
    padding: 30px;
    border-radius: 15px; 
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 0 auto 50px auto; 
    
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    border: 3px solid #FFD700; 
}

h1 {
    font-family: 'Bungee', cursive; 
    color: #FF4500; 
    text-shadow: 2px 2px 0px #FFD700; 
    margin-bottom: 25px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: 700; 
    color: #333333; 
}

input, select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px; 
    background-color: #ffffff; 
    color: #333333; 
    border: 2px solid #32CD32; 
    font-family: 'Kalam', cursive;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #FFD700; 
    border: none;
    color: #FF4500; 
    font-weight: bold;
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0 4px 0 #FF4500; 
}

button:active {
    box-shadow: 0 0px 0 #FF4500;
    transform: translateY(4px); 
}

#outputContainer {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px dashed #FF4500; 
}

.quote {
    font-size: 1.4em;
    font-weight: 700;
    color: #228B22; 
    margin-bottom: 15px;
    min-height: 30px; 
}

#videoContainer {
    aspect-ratio: 10 / 16; 
    max-width: 400px; 
    width: 90%; 
    margin: 15px auto; 
    border-radius: 8px;
    overflow: hidden;
    border: 4px dashed #FF4500; 
}

#videoContainer iframe {
    width: 100%;
    height: 100%;
    border: none;
}